Source: philscurrency
Section: utils
Priority: optional
Maintainer: Jonas Smedegaard <dr@jones.dk>
Uploaders: Micah Anderson <micah@debian.org>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libboost-system-dev (>> 1.35) | libboost-system1.35-dev,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libminiupnpc8-dev | libminiupnpc-dev (>> 1.6),
 libboost-filesystem-dev (>> 1.35) | libboost-filesystem1.35-dev,
 libboost-program-options-dev (>> 1.35) | libboost-program-options1.35-dev,
 libboost-thread-dev (>> 1.35) | libboost-thread1.35-dev,
 libboost-test-dev (>> 1.35) | libboost-test1.35-dev,
 qt4-qmake,
 libqt4-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python
Standards-Version: 3.9.2
Homepage: https://www.philscurrency.org/
Vcs-Git: git://github.com/philscurrency/philscurrency.git
Vcs-Browser: https://github.com/philscurrency/philscurrency

Package: philscurrencyd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Philscurrency is a peer-to-peer Internet currency that enables instant,
 near-zero cost payments to anyone in the world. Philscurrency is an open 
 source, global payment network that is fully decentralized without 
 any central authorities. Mathematics secures the network and empowers
 individuals to control their own finances. Philscurrency features faster 
 transaction confirmation times and improved storage efficiency than 
 the leading math-based currency. With substantial industry support, 
 trade volume and liquidity, Philscurrency is a proven medium of commerce 
 complementary to Bitcoin.
 .
 Full transaction history is stored locally at each client.  This
 requires 5+ GB of space, slowly growing.
 .
 This package provides the daemon, philscurrencyd, and the CLI tool
 philscurrency-cli to interact with the daemon.

Package: philscurrency-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Philscurrency is a peer-to-peer Internet currency that enables instant,
 near-zero cost payments to anyone in the world. Philscurrency is an open 
 source, global payment network that is fully decentralized without 
 any central authorities. Mathematics secures the network and empowers
 individuals to control their own finances. Philscurrency features faster 
 transaction confirmation times and improved storage efficiency than 
 the leading math-based currency. With substantial industry support, 
 trade volume and liquidity, Philscurrency is a proven medium of commerce 
 complementary to Bitcoin.
 .
 Full transaction history is stored locally at each client.  This
 requires 5+ GB of space, slowly growing.
 .
 This package provides Philscurrency-Qt, a GUI for Philscurrency based on Qt.

Package: philscurrency-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 Philscurrency is a peer-to-peer Internet currency that enables instant,
 near-zero cost payments to anyone in the world. Philscurrency is an open 
 source, global payment network that is fully decentralized without 
 any central authorities. Mathematics secures the network and empowers
 individuals to control their own finances. Philscurrency features faster 
 transaction confirmation times and improved storage efficiency than 
 the leading math-based currency. With substantial industry support, 
 trade volume and liquidity, Philscurrency is a proven medium of commerce 
 complementary to Bitcoin.
 .
 Full transaction history is stored locally at each client.  This
 requires 5+ GB of space, slowly growing.
 .
 This package provides philscurrency-tx, a command-line transaction creation
 tool which can be used without a philscurrency daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
